
  body,img{
    background-color: #278ea5;
    border-radius: 50%;
  }
  hr{
    border-color: #69779b;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;

    width: 5%;
  }
h1, h3{
    color: #69779b;
}
